* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
}

header {
    width: 100%;
    height: 83px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}

header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.logo i{
    margin-top: 5px;
    font-size: 42px;
    color: rgba(255, 166, 0, 0.6);
    -webkit-text-stroke: 1px orange;
    text-shadow: 0px 0px 3px;
}

.logo h1 {
    font-size: 46px;
    font-weight: 900;
    color: rgba(255, 166, 0, 0.6);
    -webkit-text-stroke: 1px orange;
    text-shadow: 0px 0px 3px;   
}


header nav{
    height: 100%;
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav #menu{
    width: 52%;
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 60px;
}

#menu li{
    list-style: none;
    color: rgba(245, 245, 245, 0.6);
    -webkit-text-stroke: 1px whitesmoke;
}

#menu li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

#menu li a:hover{
    color: #A9CCE3;
    -webkit-text-stroke: 1px #5499C7;
    text-shadow: 0px 0px 1px;
    transition: 1s;
}

#menu li #all, #movies, #series{
    color: #7FB3D5;
}

.search-container{
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container #search-input{
    width: 100%;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 30px;
    outline: none; 
    border: 1px solid #5499C7;
    background-color: #7FB3D5;
    color: rgba(245, 245, 245, 0.8);
}

.search-container i{
    padding-right: 10px;
    right: 0;
    position: absolute;
    color: rgba(245, 245, 245, 0.9);
}

#search-input::placeholder{
    font-size: 14px;
    color: rgba(245, 245, 245, 0.9);
    font-weight: 600;
}

#categoria-select{
    width: 166px;
    padding: 4px 4px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.6);
}

#categoria-select option{
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
}

.movie-serie{
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    width: 700px;
    max-width: 800px;
    top: 60px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    position: absolute;
    top: 114px;
    right: 8px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
    color: #5499C7;
}

#trailer{
    position: absolute;
    top: 120px;
    height: 400px;
    width: 700px;
    z-index: 1;
    border: 3px solid #5499c7c4;
}

#msg-no-result{
    font-size: 32px;
    position: absolute;
    color:#fff;
    text-align:center;
    display: none;
}

.movie-container,
.serie-container{
    margin-bottom: 40px;
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px 40px;
}

#serie-container{
    margin-bottom: 80px;
    margin-top: -20px;
}

#movie-container{
    padding-top: 134px;
    margin-bottom: 90px;
}

#serie-container-series{
    margin-top: 170px;
    margin-bottom: 90px;
}

#movie-container-movies{
    margin-top: 170px;
    margin-bottom: 90px;
}

.title-movies,
.title-series{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-movies h2,
.title-series h2{
    font-size: 30px;
    color: #7FB3D5;
    -webkit-text-stroke: 1px #5499C7;
    letter-spacing: 1px;
    /* #7FB3D5 #5499C7 */
}

.movie-card,
.serie-card{
    width: 420px;
    height: 560px;
    overflow: hidden;
    border: solid 3px rgba(255, 166, 0, 0.6);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    box-shadow: 0 0 10px black;
}

.movie-card img,
.serie-card img{
    height: 280px;
}

.titulo {
    font-size: 30px;
    color: rgba(255, 166, 0, 0.8);
    -webkit-text-stroke: 1px orange;
    letter-spacing: 1px;
}

.info {
    height: 134px;
    padding: 0 20px;
    line-height: 23px;
    font-size: 16px;
    text-align:justify;
    display: flex;
    align-items: center;
    color: rgba(245, 245, 245, 0.8);
}

.btn1,
.btn2{
    padding: 6px 26px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    background-color: rgba(255, 166, 0, 0.8);
    border: 1px solid orange;
    color: rgba(245, 245, 245, 0.9);
    border: none;
    cursor: pointer;
}

.btn1:hover,
.btn2:hover{
    background-color:#7FB3D5;
}

footer{
    height: 8vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #7FB3D5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 1px;
}


/* ////////////////////////////////////// MEDIA QUERIES //////////////////////////////////// */


/* MOBILE */
@media screen and (max-width: 480px){

    header {
        height: 142px;
        justify-content: center;
        flex-direction: column;
    }
    
    .logo i{
        margin-top: 5px;
        font-size: 36px;
    }
    
    .logo h1 {
        font-size: 38px;
    }
    
    
    header nav{
        width: 100%;
        justify-content:space-around;
        flex-direction: column;
    }
    
    header nav #menu{
        width: 70%;
    }
    
    #menu li a{
        font-size: 17px;
    }
    
    .search-container #search-input{
        padding: 3px 10px;
        font-size: 13px;
    }
    
    .search-container i{
        position: absolute;
        right: 0;
    }
    
    #search-input::placeholder{
        font-size: 13px;
    }
    
    #categoria-select{
        padding: 1px 4px;
        font-size: 13px;  
        order: 3;
    }
    
    .modal-content {
        width: 380px;
        max-width: 400px;
        top: 70px;
    }
    
    .close {
        top: 140px;
        right: 10px;
    }
    
    #trailer{
        top: 140px;
        height: 220px;
        width: 380px;
    }
    
    #msg-no-result{
        font-size: 22px;
        display: none;
    }
       

    .movie-container,
    .serie-container{
        margin-bottom: 40px;
        gap: 20px 16px;
    }

    #serie-container-series{
        margin-top: 220px;
        margin-bottom: 80px;
    }

    #serie-container{
        margin-bottom: 40px;
    }

    #movie-container-movies{
        margin-top: 220px;
        margin-bottom: 80px;
    }

    #title-movies{
        margin-top: 40px;
    }

    .title-movies h2,
    .title-series h2{
        font-size: 30px;
    }

    .movie-card,
    .serie-card{
        width: 220px;
        height: 480px;
        border: solid 2px rgba(255, 166, 0, 0.6);
        gap: 12px;
    }

    .movie-card img,
    .serie-card img{
        height: 200px;
    }

    .titulo {
        font-size: 21px;
        text-align: center;
    }

    .info {
        height: 160px;
        line-height: 20px;
        font-size: 12px;
    }

    .btn1,
    .btn2{
        padding: 4px 16px;
        font-size: 11px;
    }

    footer{
        height: 10vh;
        font-size: 13px;
    }
}



@media screen and (min-width: 481px) and (max-width: 600px){
    header {
        height: 142px;
        justify-content: center;
        flex-direction: column;
    }
    
    .logo i{
        margin-top: 5px;
        font-size: 36px;
    }
    
    .logo h1 {
        font-size: 38px;
    }
    
    
    header nav{
        width: 100%;
        justify-content:space-around;
        flex-direction: column;
    }
    
    header nav #menu{
        width: 70%;
    }
    
    #menu li a{
        font-size: 17px;
    }
    
    .search-container #search-input{
        padding: 3px 10px;
        font-size: 13px;
    }
    
    .search-container i{
        position: absolute;
        right: 0;
    }
    
    #search-input::placeholder{
        font-size: 13px;
    }
    
    #categoria-select{
        padding: 1px 4px;
        font-size: 13px;  
        order: 3;
    }
    
    .modal-content {
        width: 440px;
        max-width: 500px;
        top: 70px;
    }
    
    .close {
        top: 126px;
        right: 20px;
    }
    
    #trailer{
        top: 120px;
        height: 280px;
        width: 440px;
    }
    
    #msg-no-result{
        font-size: 22px;
        display: none;
    }   

    .movie-container,
    .serie-container{
        margin-bottom: 40px;
        gap: 20px 16px;
    }

    #serie-container-series{
        margin-top: 220px;
        margin-bottom: 80px;
    }

    #serie-container{
        margin-bottom: 40px;
    }

    #movie-container-movies{
        margin-top: 220px;
        margin-bottom: 80px;
    }

    #title-movies{
        margin-top: 40px;
    }

    .title-movies h2,
    .title-series h2{
        font-size: 30px;
    }

    .movie-card,
    .serie-card{
        width: 220px;
        height: 480px;
        border: solid 2px rgba(255, 166, 0, 0.6);
        gap: 12px;
    }

    .movie-card img,
    .serie-card img{
        height: 200px;
    }

    .titulo {
        font-size: 21px;
        text-align: center;
    }

    .info {
        height: 160px;
        line-height: 20px;
        font-size: 12px;
    }

    .btn1,
    .btn2{
        padding: 4px 16px;
        font-size: 11px;
    }

    footer{
        height: 8vh;
        font-size: 13px;
    }
}



