* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.8);
}

header {
    width: 100%;
    height: 83px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.logo i{
    margin-top: 5px;
    font-size: 42px;
    color: rgba(255, 166, 0, 0.6);
    -webkit-text-stroke: 1px orange;
    text-shadow: 0px 0px 3px;
}

.logo h1 {
    font-size: 46px;
    font-weight: 900;
    color: rgba(255, 166, 0, 0.6);
    -webkit-text-stroke: 1px orange;
    text-shadow: 0px 0px 3px;   
}


header nav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 100px; */
}

#menu{
    width: 40%;
    display: flex;
    align-items: center;    
    gap: 40px;
}

#menu li{
    list-style: none;
}

#menu li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgba(245, 245, 245, 0.6);
    -webkit-text-stroke: 1px whitesmoke;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px;
}

.location{
    color: rgba(255, 166, 0, 0.8);
}

#menu li a:hover{
    color: rgba(255, 166, 0, 0.8);
    -webkit-text-stroke: 1px orange;
    text-shadow: 0px 0px 1px;
    transition: 1s;
}

#search-input{
    padding: 4px 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 2px;
    outline: none; 
    color: black;
}

#search-input::placeholder{
    font-size: 14px;
}

/* #search-input:focus{
    border-color: orange;  
    FOCUS PARA MODIFICAR EL BUSCADOR MIENTRAS SE LE HAGA CLICK 
} 
*/
    
#categoria-select{
    width: 150px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    appearance: none; /* Oculta la apariencia nativa del select */
    outline: none;
    background-color: white;
    cursor: pointer;
    color: black;
}

/* #categoria-select:focus{
    border-color: orange;
} */

#categoria-select option{
    /* padding: 10px; */
    color: black;
}

#categoria-select option:checked{
    background-color: orange;
    color: white;
}
  
/* #search-input:focus {
    border-color: #007bff; //borde al hacer foco (dar click)
} */

.movie-serie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    width: 700px;
    max-width: 800px;
    top: 80px;
    margin: auto;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    position: absolute;
    top: 130px;
    right: 30x;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}

#trailer{
    position: absolute;
    top: 120px;
    height: 400px;
    width: 700px;
    z-index: 1;
}

.movie-container,
.serie-container{
    margin-bottom: 40px;
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#serie-container{
    margin-top: -40px;
    padding-top: 40px;
}

#serie-container-series{
    margin-top: 114px;
}

#movie-container{
    margin-top: 114px;
}

.title-movies,
.title-series{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-movies h2,
.title-series h2{
    font-size: 32px;
    letter-spacing: 1px;
    color: orange;
}

.movie-card,
.serie-card{
    width: 26%;
    height: 560px;
    overflow: hidden;
    border: solid 3px rgba(255, 166, 0, 0.6);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    box-shadow: 0 0 10px black;
}

.movie-card img,
.serie-card img{
    height: 280px;
}

.titulo {
    font-size: 28px;
    color: orange;
}

.info {
    height: 134px;
    padding: 0 20px;
    line-height: 23px;
    font-size: 16px;
    text-align:justify;
    display: flex;
    align-items: center;
    color: rgba(245, 245, 245, 0.9);
}

.btn1,
.btn2{
    padding: 8px 30px;
    font-size: 14px;
    border-radius: 4px;
    background-color: rgba(255, 166, 0, 0.8);
    color: rgba(245, 245, 245, 0.9);
    border: none;
    cursor: pointer;
}

.btn1:hover,
.btn2:hover{
    background-color:lightblue;
}

footer{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* ////////////////////////////////////// MEDIA QUERY //////////////////////////////////// */

@media screen and (max-width: 480px){

    
    .movie-card img,
    .serie-card img{
        height: 200px;
    }
    
    .modal-content {
        width: 400px;
        max-width: 500px;
    }
    
    .close {
        top: 224px;
        right: 16px;
    }
    
    #trailer{
        top: 220px;
        height: 200px;
        width: 400px;
    }
    
    footer{
        height: 50px;
        font-size: 14px;
    }
}
